@import 'variables';

#new-session-container {
    width: 500px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid $ruby;
    padding-bottom: 35px;
    color: $ruby;

    h2 {
        height: 55px;
        width: 100%;
        background-color: $ruby;
        color: $containers;
        display: flex;
        align-items: center;
        padding-left: 25px;
        gap: 15px;
    }

    *:focus,
    *:focus-visible,
    *:focus-within {
        outline: none !important;
    }

    form {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .field,
        .actions {
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            font-weight: bold;

            input {
                font-size: 1.5rem;
                width: 100%;
                padding: 2px 5px;

            }

            input[type="checkbox"],
            input[type="email"],
            input[type="password"] {
                border: 2px $icons dashed;
            }

            input[type="submit"] {
                padding: 5px 50px;
                background-color: $lightred;
                color: $ruby;
                font-weight: bold;
                border: 2px solid $ruby;
            }
        }

    }
    .helper-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        a {
            color: $ruby;
            text-decoration: none;
            font-weight: bold;
        }
    }
}