<div id="main-container">
<div id="index_projects_container"></div>
<div id="index_gemfiles_container"></div>
<div id="show_gem_container"></div>
</div>
<%= link_to "logout", destroy_user_session_path, data: { turbo_method: :delete }%>
