<div id="global-container" style="position: relative;">
<div id="repositories_review"></div>
<div id="gems_scan"></div>
<div id="release_tracker"></div>
</div>
<%= link_to "logout", destroy_user_session_path, data: { turbo_method: :delete }%>
