<form action="/api/v1/projects" method="post">
    <label for="project[name]">Name : 
    <input type="text" name="project[name]" id="">
    </label>
    <label for="project_gemfile[content]">Bundle list content : 
    <input type="text" name="project_gemfile[content]" id="">
    </label>

    <input type="submit" value="Create">
</form>