@import "variables";

.banner {
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  background-color: $ruby;
  h1 {
    margin: 0;
    color: black;
    text-shadow: 1px 1px 3px dark;
    font-size: 32px;
    font-weight: bold;
    &:p {
      font-size: 20px;
      color: black;
      opacity: .7;
      text-shadow: 1px 1px 3px dark;
    }
  }
}
