@import "variables";

.banner {
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  background-color: $primary-color;
}

.banner h1 {
  margin: 0;
  color: $third-color;
  text-shadow: 1px 1px 3px dark;
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: $third-color;
  opacity: .7;
  text-shadow: 1px 1px 3px dark;
}
