@import "variables";

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  padding: 17px 0;
  background-color: $darkred;
  h1 {
    margin: 0;
    color: $ruby;
    text-shadow: 1px 1px 3px dark;
    font-size: 32px;
    font-weight: bold;
    &:p {
      font-size: 20px;
      color: $ruby;
      opacity: .7;
      text-shadow: 1px 1px 3px dark;
    }
  }
  .logout-container {
    width: 2em;
    margin: 0 2rem;
  }
  img {
    width: auto;
    height: 90px;
    margin: 0 1rem;
  }
}
