@import 'variables';

.button {
  color: $ruby;
}
.btn-logout {
  font-size: 2rem;
}
.btn-back {
  font-size: 3.25rem;
  border: none;
  background: none;
  cursor: pointer;
}
#view-changelog {
  display: flex;
  align-items: flex-end;
}
.btn-link {
  font-size: 1.5rem;
  margin-left: 4.5rem;
}
