@import 'variables';

.project-card {
  display: flex;
  align-items: center;
}
.folder {
  background-color: $cards-primary;
  justify-content: center;
  height: 3rem;
  width: 3rem;
}
.infos {
  background-color: $cards-secondary;
  width: 15rem;
  font-size: 1.2rem;
  font-weight: 700;
  word-break: break-all;
  color: $ruby;
  justify-content: space-between;
  padding-left: 1rem;
}
