@import 'variables';

.containers {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: $containers;
  width: 40rem;
  max-height: 75vh;
  overflow: auto;
  ul {
    columns: 2;
    column-gap: 0;
    list-style: none;
    padding-inline: 0.55rem;
    li {
      break-inside: avoid;
      display: flex;
      padding: 0.55rem 0.75rem;
    }
  }
}

.header-container {
  background-color: $ruby;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  height: 3rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
