@import 'variables';

#new-session-container, #new-registration-container {
    width: 500px;
    background-color: $containers;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
    color: $ruby;
    gap: 10px;

    h2 {
        height: 55px;
        width: 100%;
        background-color: $ruby;
        color: $containers;
        display: flex;
        align-items: center;
        padding-left: 25px;
        gap: 15px;
    }

    *:focus,
    *:focus-visible,
    *:focus-within {
        outline: none !important;
    }

    form {
        width: 80%;
        height: 100%;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .field,
        .actions {
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            font-weight: bold;
            gap: 5px;

            input {
                font-size: 1.5rem;
                width: 100%;
                padding: 2px 5px;

            }

            input[type="email"],
            input[type="password"] {
                border: 2px $icons dashed;
            }

            input[type="submit"] {
                padding: 5px 50px;
                background-color: $lightred;
                color: $ruby;
                font-weight: bold;
                border: 2px solid $ruby;
            }

            input[type="checkbox"] {
                outline: 2px $icons dashed;
            }
        }

        .field-remember {
            font-weight: bold;
        }
    }

    .helper-links {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            color: $ruby;
            text-decoration: none;
            font-weight: bold;
        }
    }
}