@import "variables";

footer {
  background: $darkred;
  color: $ruby;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $footer-height;
  width: 100%;
  position: fixed;
  bottom: 0;
  .fa-heart {
    color: $icons;
    padding: 0 10px;
  }
}
