@import "variables";

.container-ico {
  color: white;
  padding: 0 1rem;
}
.card-ico {
  font-size: 1.8rem;
  color: $icons;
}
.status-ico {
  font-size: 1.35rem;
  padding-right: 1rem;
}
.updated {
  color: $valid;
}
.to-update {
  color: $warning;
}
