/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Import Fonts etc...

@import 'variables';
@import 'index';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: black;
  background-color: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100vw;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

main {
  width: 90vw;
  padding: 2rem;
  width: 100%;
  overflow-y: scroll;
}

header {
  width: 100vw;
}
